.cabecalho {
    width: 100vw;
    height: 100vh;

    background-image: url('../images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 18%;

    color: var(--white);

 
}
.container-menu {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    padding-top: 4.5rem;
}
.titulo-menu {
    font-family: 'Barlow', sans-serif;
    color: var(--white);
    font-weight: 600;
    font-size: 2.5rem;
}
.menu-lista {
    display: flex;
    width: 80vw;
    justify-content: flex-end;
    list-style: none;
}
.menu-lista li:not(.btn-contato) {
    margin-right: 5rem;
}
.menu-lista-link {
    font-size: 1.5rem;
}
.menu-lista-link:not(.btn-contato) {
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
    font-weight:500;
    font-size: 1.8rem;
}
.menu-lista .btn-contato {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Fraunces', serif;
    background-color: var(--white);
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:  25px;
    padding-right:  25px;
}
.btn-contato:hover {
    background-color: rgba(255, 255, 255, 0.39);
    color: var(--white);
    cursor: pointer;
}

.titulo-cabecalho {
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 8px;
    padding-top: 10rem;
}


/*Conteudo principal*/
main {
    width: 100vw;
    box-sizing: border-box;
}
/*Seção apresentação*/
.secao-apresentacao{
    width: 100%;

    display: flex;
    flex-direction: column;

}
.apresentacao-cartao {
    max-width: 100%;
    display: flex;
}
.corpo-cartao {
    padding: 15rem;
}
.imagem-cartao {
    width: 50%;
    height: 50%;
}
.titulo-cartao {
    font-size: 4rem;
    font-family: 'Fraunces', serif;
    font-weight: 800;

    color: var(--dark-desaturated-cyan);

    margin-bottom: 3rem;
}
.paragrafo-cartao {
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 25px;
    color: var(--dark-grayish-blue);
    margin-bottom: 3rem;
}
.paragrafo-cartao-justificado {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.6rem; 
    line-height: 28px;
    color: var(--dark-desaturated-cyan);
}
.link-aprenda-mais-cartao {
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--very-dark-desaturated-blue);
}

.link-aprenda-mais-cartao:hover{
    border-bottom:  5px solid var(--yellow);
    border-radius: 8px;
}
.secao-cartoes-servicos-oferecidos {
    display: flex;
}
.design-grafico {
    width: 50%;
    background-image: url('../images/desktop/image-graphic-design.jpg');
    background-repeat: no-repeat;
}
.fotografia {
    width: 50%;
    background-image: url('../images/desktop/image-photography.jpg');
    background-repeat: no-repeat;
}
.container-textos{
    text-align: center;
    margin-top: 30rem;    
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 26%;
    padding-right: 23%;
}
.titulo-servicos-oferecidos {
    font-size: 3rem;
}


/* Testemunhos */
.secao-depoimentos {
    width: 100%;
    margin-top: 20rem;
}
.titulo-depoimentos {
    color: var( --grayish-blue);
    font-size: 2rem;
    font-family: 'Fraunces', serif;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;

}
.cartao-depoimentos {
    width: 75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.colecao-cartoes {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 9rem;
}
.colecao-cartoes .cartao-depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto-cliente {
    width: 25%;
    border-radius: 100px;
    margin-bottom: 5rem;
}
.comentario-do-cliente {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 33px;
    color: var(--very-dark-grayish-blue);
    text-align: center;
    width: 31rem;
}
.nome-cliente-depoimento {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
    font-size: 1.7rem;
    margin-top: 5rem;
}
.cargo-cliente-depoimento {
    margin-top: 1.3rem;
    color: var(--grayish-blue);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

/* Seção galeria */
.secao-galeria {
    width: 100vw;
    display: flex;
    margin-top: 20rem;

}
.imagens-galeria {
    width: 25%;
    height: 50%;
}

/* Rodapé */
.rodape{
    width: 100vw;
    height: 65vh;

    background-color: #91D3C5;
    color: var(--dark-moderate-cyan);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 5rem;
    box-sizing: border-box;
}
.titulo-rodape {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    font-size: 3.8rem;

    color: var(--dark-desaturated-cyan);
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.lista-menu-rodape {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 30vw;
}
.links-menu-rodape {
    font-size: 2rem;
    color: var(--dark-moderate-cyan);
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}
.links-menu-rodape:hover {
    color: var(--white);
}
.lista-menu-rodape-rede-sociais {
    list-style: none;

    display: flex;
    justify-content: space-between;
    width: 13vw;

    margin-top: 10rem;
    margin-left: 25%;
    margin-right: 20%;

}
.icones-redes-sociais  {
    color: var(--dark-moderate-cyan);
    font-size: 2.4rem;
}
.icones-redes-sociais:hover {
    color: #fff;
}


/* SCROLLBAR personalizado */

::-webkit-scrollbar {
    width: 25px;
}

::-webkit-scrollbar-thumb {
    background-color: #FED602;
    border-radius: 20px;
}
.btn-scroll-top {
    border: 2px solid #000;
    border-radius: 2rem;
    width: 4rem;
    height: 6.5rem;


    position: fixed;
    right: 2%;
    top: 87%;

    background-color: gba(255, 255, 255, 0.746);

    visibility: hidden;
    opacity: 0;
}

.scroll-top-img {
    width: 90%;
    margin-top: 35%;
    margin-left: 5%;
}


.btn-scroll-visible {
    visibility: visible;
    opacity: 1;
}