@media (max-width: 900px) {
    .cabecalho {
        background-image: url('../../images/mobile/image-header.jpg');
        background-position:bottom;
    }
    .titulo-cabecalho {
        width: 95vw;
    }


    .container-menu {
        width: 80vw;
        justify-content: space-between;
        margin-left: 8%;
        margin-right: 8%;   
        position: relative;
    }
    .menu-lista {
        display: none;
        margin-left: 21%;
        margin-top: 12%;
        background-color: var(--white);
        padding: 5%;

        height: 40vh;
        box-sizing: border-box;

    }
    .menu-lista .btn-contato {
        background-color: var(--yellow);
    }
    .menu-lista-link:not(.btn-contato) {
        font-weight: 600;
        color: var(--dark-grayish-blue);
    }
    .menu-itens {
        padding-bottom: 3.8rem;
        text-align: center;

    }


    .menu-responsivo {
        cursor: pointer;
    }
    .menu-responsivo p {
        width: 30px;
        height: 3px;
        background-color: white;
    }
    .menu-responsivo p:not(.last) {
        margin-bottom: 8px;
    }  


    .display-block {
        display: block;
    }
    
    .flex-wrap {
        flex-wrap: wrap;
    }

    .triagulo-decorativo {
        background-color: var(--white);
        position: absolute;
        top: 11em;
        right: 0%;
        width: 50px;
        height: 50px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

    .visibility-hidden {
        visibility: hidden;
    }
}