@media (max-width: 900px) {
    .cabecalho {
        background-image: url('../../images/mobile/image-header.jpg');
        background-position:bottom;
    }
    .titulo-cabecalho {
        width: 95vw;
        font-size: 4.3rem;
        line-height: 7rem;
        margin-top: 4.5rem;
    }


    .container-menu {
        width: 80vw;
        justify-content: space-between;
        margin-left: 8%;
        margin-right: 8%;   
        position: relative;
    }
    .menu-lista {
        display: none;
        margin-top: 17%;
        background-color: var(--white);
        padding: 10% 0%;

        width: 100vw;
        height: 55vh;
        box-sizing: border-box;

    }
    .menu-lista .btn-contato {
        background-color: var(--yellow);
        font-size: 1.7rem;
        padding:  2rem 3rem;
        border-radius: 300px;
    }

    .menu-lista-link:not(.btn-contato) {
        font-weight: 600;
        font-size: 2.3rem;
        color: var(--dark-grayish-blue);
    }
    .menu-itens {
        padding-bottom: 5rem;
        text-align: center;
    }


    .menu-responsivo {
        cursor: pointer;
    }
    .menu-responsivo p {
        width: 30px;
        height: 3px;
        background-color: white;
    }
    .menu-responsivo p:not(.last) {
        margin-bottom: 8px;
    }  


    .display-block {
        display: block;
    }
    
    .flex-wrap {
        flex-wrap: wrap;
    }

    .triagulo-decorativo {
        background-color: var(--white);
        position: absolute;
        top: 12em;
        right: 0%;
        width: 90px;
        height: 90px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

    .visibility-hidden {
        visibility: hidden;
    }
}